@model MotherHood.Models.Message

@{
    ViewData["Title"] = "Szerkesztés";
}

<h1>Szerkesztés</h1>

<h4>Üzenet</h4>
<hr />
<div class="row">
    <div class="col-12 offset-md-2 col-md-8 col-lg-6 offset-lg-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Cim" class="control-label"></label>
                <input asp-for="Cim" class="form-control" />
                <span asp-validation-for="Cim" class="text-danger"></span>
            </div>
            <div class="form-group mb-1">
                <label asp-for="Uzenet" class="control-label"></label>
                <textarea asp-for="Uzenet" class="form-control"  style="height: 150px"> </textarea>
                <span asp-validation-for="Uzenet" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Mentés" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Mégse</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
